/* ============================================= */
 /* Color Variables */
 /* ============================================= */
 
$white: #fff;
$link-blue: #e4757a;
$default-blue: #51ddfc;
$primary-teal: #58e1c1;
$primary-grey: #777;


/* ============================================= */
 /* Non Color Variables */
 /* ============================================= */

$media-min-width: 768px;
$all-out: 100%;
